@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  list-style: none;
  overflow-x: hidden;
}

body {
  list-style: none;
  overflow-x: hidden;
}
input::placeholder {
  font-size: 10px;
}
textarea::placeholder {
  font-size: 10px;
}
